<div class="container map-info-window">
  <div class="d-flex justify-content-between">
  <%= render 'shared/favourite_button', spot: spot %>
  </div>
  <%= link_to spot.name, spot_path(spot) %>

  <p><%= spot.location %></p>
  <p><%= spot.category.name %></p>
</div>

