<div class="container">
  <div class="row">
    <% @spots.each do |spot| %>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card mt-3" style="width: 22rem;">
          <div class="card-description">
            <p><%= spot.name %></p>
            <p><%= spot.location  %><p>
            <p><%= spot.category %></p>
            <%= link_to "Add to your favourite", favourite_path(@spot, @favourite), { :class=>"btn btn-primary btn-sm btn-block" }  %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
