<div class="container">
  <div class="row">
    <% @spots.each do |spot| %>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card mt-3" style="width: 24rem;">
          <div class="card-description">
            <p><%= spot.name %></p>
            <p><%= spot.location  %><p>
            <p><%= spot.category_id %></p>
            <%= link_to "Add to your favourite", spot_favourites_path(spot), method: :post, class: "btn btn-primary btn-sm" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
