<div class="container mt-3">
  <%= render 'carousel', spot: @spot %>
  <div class="row justify-content-center">
     <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= @spot.name  %></h5>
          <p class="card-text"> Great seafood and drinks</p>
        </div>
        <% @stories.each do |story| %>
          <div class="card">
          <%= "#{story.user.username} left a story:" %>
          <em><%= story.content %></em>
          </div>
        <% end %>
      </div>
  </div>
</div>


