<div class="container mt-3">
  <div class="row justify-content-center">
     <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= @spot.name  %></h5>
          <p class="card-text"> Great seafood and drinks</p>
        </div>
         <div class="card-body">
           <a href="#" class="card-link"><%= link_to "Add to your favourite", favourite_path(@spot, @favourite), method: patch  %></p></a>
         </div>
      </div>
      <% @stories.each do |story| %>
        <div class="card">
        <%= "#{story.user.username} left a story:" %>
        <em><%= story.content %></em>
        </div>
      <% end %>
    </div>
    </div>
</div>

