.img-gif{
  background-image: asset-url("img.gif");
  background-size: cover;
  height: 650px;
  width: 1000px;
  margin: auto;
}

.landing-page{
  height: 100vh;
}

.landing-page-button {
  color: #003e01;
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  border-bottom: 3px solid #125143;
}
.o{
  transform: translateX(1px) translateY(0px) rotate(15deg);
  display: inline-block;
  color: #125143;
  opacity: 0.8;
}

.landing-page-button:hover {
  text-decoration: none;
  color: white;
}

.what_spot{
  background-color: $green;
  height: 100vh;
}
