.map-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: white;
}

.horizontal-scrollable > .horizontal-row {
  overflow-x: auto;
  white-space: nowrap;
  padding-right: 20vw !important;
}

.horizontal-scrollable > .horizontal-row > .col-xs-4 {
  display: inline-block;
  float: none;
}

.horizontal-row{
  display: flex;
}

.horizontal-row > .card{
  margin-right: 10px;
  padding: 0;
  min-width: 200px;
}

.card-description{
  position: absolute;
  bottom: 0px;
  color: white;
  z-index: 99;
}

.card-description p{
  margin-bottom: 5px;
}

.card-description a{
  color: white;
}

.card-img-top{
    width: 100%;
    height: auto;
    position: relative;
}

.card-description .fa-2x{
  font-size: 10px;
}

#wrapper {
  position: relative;
  max-width: 100%;
  overflow: scroll;
  height: 100vh;
 }
#over_map {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  width: 100%;
}

.active{
  // min-width: 220px !important;
  transition: transform .3s $snap;
  transform: scale(1.1)
}

@media screen and (max-width: 700px) {
  .card-description p {
  font-size: 8px;
  }
}

.modal .modal-content {
  padding: 0px;
}


