<div class="container col-sm">
  <div class="text-center mt-3">
    <h3>Bucket List</h3>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="card">
    <ul class="list-group">
      <% @favourites.each do |favourite| %>
      <li class="list-group-item"> <strong> <%= favourite.spot.category.name %> </strong> : <%= link_to favourite.spot.name, spot_path(favourite.spot) %>
       - <%= favourite.spot.location  %>   <%= link_to "<i class='fa fa-heart'></i>".html_safe, favourite_path(favourite),  method: :delete, data:{ confirm: "Are you sure"}  %>
      </li>
      <% end %>
    </ul>
  </div>
  </div>
</div>


