<div class="container">
  <h2 class="text-center mt-3">Bucket List</h2>
  <div class="row">
    <% @favourites.each do |favourite| %>
      <div class="col-sm col-lg-4 col-lg-4">
        <div class="card">
          <div class="card-blockcard-description mt-3">
            <div class= "card-text text-center">
            <p><%= favourite.spot.name %></p>
            <p><%= favourite.spot.location  %><p>
              <div class="center-block rounded">
              <%=  cl_image_tag favourite.spot.photos.first.file.key, height: 150, width: 240, class: "card-img-top" %>
              </div>
             <p>  <%= link_to "<i class='fa fa-trash'></i>".html_safe, favourite_path(favourite),  method: :delete, data:{ confirm: "Are you sure"}  %></p>
             </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


