<div class="container justify-content-center">
  <div class="text-center mt-3">Bucket List</div>
  <div class="row d-flex justify-content-center mt-3 mb-3">
    <% @favourites.each do |favourite| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card mt-3" style="width: 22rem;">
          <div class="card-description">
            <p><%= favourite.spot.name %></p>
            <p><%= favourite.spot.location  %><p>
               <%= link_to "<i class='fa fa-trash'></i>".html_safe, favourite_path(favourite),  method: :delete, data:{ confirm: "Are you sure"}  %>


          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


