<div class="container d-flex justify-content-center">
  <div class="home-gif">
  </div>
  <button type="button" class="btn btn-lg btn-primary" disabled><h1>WHAT SPOT ?</h1></button>
</div>

<div class="home-image">
  <div class="container">
    <div class="row justify-content-center">
      <div class= "col-sm-12">
        <h1 class="mt-5">
          <span class="lfd" style="font-weight: bold; transition-delay: 0s;">S</span>
          <span class="lfd" style="font-weight: bold; transition-delay: 0.2s;">P</span>
          <span class="lfd" style="font-weight: bold; transition-delay: 0.4s;">O</span>
          <span class="lfd" style="font-weight: bold; transition-delay: 0.6s;">T</span>
          <span class="lfd" style="font-weight: bold; transition-delay: 0.8s;">T</span>
          <span class="lfd" style="font-weight: bold; transition-delay: 1.0s;">Y</span>
        </h1>
        <br>
        <br>
        <h3 class="text-center">WhatSpot keep track all your favourite places around the world.</h3>
        <br>
        <div class="d-flex justify-content-center">
        <p><%= image_tag "cappadocia.jpg", width: "600px", height:"400px"; %></p>
      </div>
     </div>
     <%= link_to "ENTER", spots_path, class: "btn btn-dark mb-5" %>
    </div>
  </div>
</div>
