<div class="">
  <div class= "square"><%= link_to "All Spots", spots_path, class: "landing-page-button"  %></div>
  <div class= "square"><%= link_to "Cafe Spot?", spots_path(:query => "cafe"), class: "landing-page-button"  %></div>
  <div class= "square"><%= link_to "Restaurant Spot?", spots_path(:query => "Restaurant"), class: "landing-page-button"  %></div>
  <div class= "square"><%= link_to "Camping Spot?", spots_path(:query => "camping"), class: "landing-page-button"  %></div>
</div>
