<div class="container">
  <div class="row">
    <div class="text-center col-sm">
     <div class="card mt-5" style="width: 18rem; margin: 0 auto;">
      <div class="card-body">
        <div>
          <h3>
            <%= @story.spot.name %>
          </h3>
        </div>
        <%= render 'shared/carousel', photoable: @story %>
      </div>
    </div>
    <div class="card mt-5 p-3" style="width: 18rem; margin: 0 auto;">
      <div><p>
        <%= "#{current_user.first_name} says: #{@story.content}" %>
      </p></div>
    </div>
    <%= link_to "Back", spot_path(@spot), class: "btn btn-dark mt-5 mb-5" %>
  </div>
</div>
</div>


<%# @story.photos.each do |photo| %>
<%#= cl_image_tag photo.file.key, height: 350, width: 350, crop: :fill, class: "card-img-top" %>
<%# end %>

