.spot-banner{
  position:relative;
}

.spot-info{
  width: 100%;
  position:absolute;
  bottom:0px;
  left:0px;
  z-index:10;
  align-content: flex-start;
  padding-left: 12px;
  color:white;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
