.button-bar{
  width: 100%;
  position:absolute;
  top:0px;
  left:0px;
  z-index:10;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 12px;
  background: rgb(4,3,14);
  background: linear-gradient(180deg, rgba(4,3,14,0.758140756302521) 0%, rgba(108,200,229,0.18951330532212884) 83%, rgba(255,255,255,0) 100%);
  }

.fa-heart{
  color: #6CC8E5;
}

.fa-arrow-left{
  color:white;
}

.add-story-button{
  bottom: 0;
  right: 0;
  z-index:10;
  position:fixed;
}
