.button-bar{
  width: 100%;
  position:absolute;
  top:0px;
  left:0px;
  z-index:10;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 12px;
}

.fa-heart{
  color: #ffa623;
}

.fa-arrow-left{
  color:$green;
  margin-bottom:36px;
}

.add-story-button{
  background: white;
  height: 50px;
  width: 50px;
  border: 2px solid $green;
  border-radius: 50%;
  color: $green;
  text-align: center;
  font-size: 50px !important;
  line-height: 45px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.add-story-button-container{
  top: 320px;
  right: 20px;
  z-index:10;
  position:fixed;
}

.story-button-container > a{
  font-size: 10px;
}

.add-spot-button-container{
  right: 20px;
  top: 130px;
  z-index: 10;
  position:fixed;
}
.add-spot-button{
  background: white;
  height: 50px;
  width: 50px;
  border: 2px solid $green;
  border-radius: 50%;
  color: $green;
  text-align: center;
  font-size: 50px !important;
  line-height: 44px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.add-spot-button:hover{
  text-decoration: none;
  color: $green;
}

.spot-button-container > a{
  font-size: 10px;
}

.fa-times-circle {
  font-size:36px;
}
.hide-me{
  display:none;
}

.button-cart {
  width: 100%;
  position:absolute;
  top:0px;
  left:0px;
  z-index:10;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 12px;
  background: none;
  background: linear-gradient(180deg, rgba(4, 3, 14, 0.53) 0%, 83%);
}


