.modal-header{
  border-bottom: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.modal-body{
  padding: 0;
}

// .modal-close {
//   border-radius: 50%;
//   background: white;
//   opacity: 1;
//   width: 50px;
//   height: 50px;
// }

.owel-item{
  width: 100%;
}

.modal-info > h5{
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  margin: 0;
}

.modal-info > p{
  font-size: 16px;
  font-weight: bold;
}

.story-section{
  overflow: hidden;
}

.story-title{
  text-align: left !important;
}
.card-button{
border: none;
background: white;
}

.card-button:focus{
  outline: none;
}

.modal-content{
  border: none;
}

.modal-card{
  overflow: hidden;
}

.btn-link:hover{
  text-decoration: none;
}

.modal-dialog{
  margin: 0;
}

.modal-story-content{
  font-size: 16px;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    opacity: 1;
    border-radius: 50%;
    border: 1px solid white;
    background: white;
    height: 50px;
    width: 50px;
    position: relative;
    left: -16px;
    top: 18px;
    }


