.navbar-spotty {
  justify-content: space-between;
  background: white;
}

.navbar-spotty .navbar-collapse {
  flex-grow: 0;
}

.navbar-spotty .navbar-brand img {
  width: 40px;
}

.navbar-brand h1 {
  font-size: 50px;
  font-weight: bold;
  -webkit-text-stroke: 1px black; /* width and color */
  color: #6CC8E5;
  font-family: sans;
}

.navbar-toggler-icon {
  color: red;
}

.navbar-light .navbar-toggler-icon {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='3http://localhost:3000/0' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28108, 200, 229, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}


